<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgu6TQ5G5zSGZ8dUtikYEmvjcpRqziF48</string>
	<key>GCM_SENDER_ID</key>
	<string>80442734802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginRegister</string>
	<key>PROJECT_ID</key>
	<string>loginregister-25083</string>
	<key>STORAGE_BUCKET</key>
	<string>loginregister-25083.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80442734802:ios:b0f691606da07e01b5d50b</string>
	<key>DATABASE_URL</key>
	<string>https://loginregister-25083-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>